# zshconfig
alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"

# Move terminal
alias l="ls -la"
alias ..="cd .."
alias sites="cd ~/Sites"
alias code="cd ~/Code"

# Proyectos
alias aws="cd ~/.ssh && ssh -i ServerMassAWS.pem -v ubuntu@35.165.96.217"
alias admin="cd ~/Sites/massadmin"
alias cliente="cd ~/Sites/masscliente"
alias myf="cd ~/Sites/myf"
alias juan="cd ~/Code/juanvqz.github.io"

# vps
alias ivnroot="ssh root@108.175.10.135"
alias ivnvps="ssh remoto@108.175.10.135"

# Laravel
export PATH=$HOME/bin:/usr/local/bin:~/.composer/vendor/bin:$PATH
alias t="./vendor/bin/phpunit"
alias artisan="php artisan"

# Vagrant shortcut
function v() {
  (cd ~/Homestead && vagrant $*)
}

#Git
alias gs="git status"
alias gl="git log --oneline"
alias gcom="git checkout master"
alias gaa="git add -A"
alias gc="git commit -m "
alias gp="git push"
alias nah="git reset --hard && git clean -df"
