# zshconfig
alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"

# Move terminal
alias l="ls -la"
alias ..="cd .."
alias snip="cd ~/.vim/snippets"
alias sites="cd ~/Sites"

# Proyectos
alias aws="cd ~/.ssh && ssh -i ServerMassAWS.pem -v ubuntu@35.165.96.217"
alias admin="cd ~/Sites/massadmin"
alias cliente="cd ~/Sites/masscliente"
alias ofta="cd ~/Sites/oftalmica"
alias tob="cd ~/Sites/topservis"
alias myf="cd ~/Sites/myf"
alias myfo="cd ~/Sites/myforesp/"
alias juan="cd ~/Code/juanvqz.github.io"
alias oaxacarb="cd ~/Code/oaxacarb.github.io"
alias codigo="cd ~/Sites/codigoaxaca"

# vps
alias ivnrvps="ssh root@108.175.10.135"
alias ivnvps="ssh remoto@108.175.10.135"
alias oaxacavps="ssh root@45.32.162.237"

# Laravel
export PATH=$HOME/bin:/usr/local/bin:~/.composer/vendor/bin:$PATH
alias t="./vendor/bin/phpunit"
alias artisan="php artisan"
alias art="php artisan"

# Vagrant shortcut
function v() {
  (cd ~/Homestead && vagrant $*)
}

#Git
alias gs="git status"
alias gl="git log --oneline"
alias gcom="git checkout master"
alias gaa="git add -A"
alias gc="git commit -m "
alias gp="git push"
alias nah="git reset --hard && git clean -df"

# CTAGS
alias ctags="`brew --prefix`/bin/ctags"
