if [[ -z $tmux ]]; then 
    if [ -e /usr/share/terminfo/x/xterm+256color ]; then
        export TERM='xterm-256color'
    else
        export TERM='xterm'
    fi
else
    if [ -e /usr/share/terminfo/s/screen-256color ]; then
        export TERM='screen-256color'
    else
        export TERM='screen'
    fi
fi

# zshconfig
alias zshconfig="mvim ~/.zshrc"
alias ohmyzsh="mvim ~/.oh-my-zsh"

# Move terminal
alias l="ls -la"
alias ..="cd .."
alias sites="cd ~/Sites"
alias code="cd ~/Code"
alias restaurant="cd ~/Sites/restaurant"

# Mass Comunicacion
alias aws="cd ~/.ssh && ssh -i ServerMassAWS.pem -v ubuntu@35.165.96.217"
alias admin="cd ~/Sites/massadmin"
alias cliente="cd ~/Sites/masscliente"
alias reportes="cd ~/Sites/reportes"
alias portadas="cd ~/Sites/portadas"

# Laravel
# export PATH=$HOME/bin:/usr/local/bin:~/.composer/vendor/bin:$PATH
alias t="vendor/bin/phpunit"
alias artisan="php artisan"
alias homestead="mvim ~/.homestead/Homestead.yaml"
function v() {
  (cd ~/Homestead && vagrant $*)
}

#Git
alias gs="git status"
alias gl="git log --oneline"
alias gcom="git checkout master"
alias gaa="git add -A"
alias gc="git commit -m "
alias gp="git push"
alias nah="git reset --hard && git clean -df"

#Docker
alias dockerremove="docker rm $(docker ps -aq)"
