alias aliases="nvim ~/.aliases"

# alias notes="nvim ~/.notes.md"

# Linux aliases
# alias install="sudo apt-get install"
# alias update="sudo apt-get update -y"
# alias upgrade="sudo apt-get upgrade -y"

# Terminal aliases
alias c="clear"
alias v="fzf --reverse --preview='bat --style=numbers --color=always --line-range=:500 {}' | xargs nvim"
alias ww="curl https://wttr.in/Oaxaca%20City,%20Mexico"

# Git aliases
alias nah="git reset --hard && git clean -df"
alias notes="nvim ./project_notes/notes.md"
