[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
[user]
	name = Juan Vasquez
	email = juan@ombulabs.com
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = true
[alias]
	co = checkout
	br = branch
[init]
	defaultBranch = main
