alias aliases="nvim ~/.aliases"

# oh-my-zsh
alias zshconfig="nvim ~/.zshrc"
alias ohmyzsh="nvim ~/.oh-my-zsh"

# Projects aliases
alias doctors="cd ~/code/mine/doctors"
alias mdn="cd ~/code/mine/mdn"
alias me="cd ~/code/mine"
alias ombu="cd ~/code/ombu"

alias dot="nvim ~/.dotfiles/config/nvim/lua/user/plugins.lua"
alias notes="nvim ~/.notes.md"

# Linux aliases
alias install="sudo apt-get install"
alias update="sudo apt-get update -y"
alias upgrade="sudo apt-get upgrade -y"
alias at="npx alacritty-themes"
alias c="clear"
alias r="ranger"
alias v="nvim"
alias ww="curl https://wttr.in/Oaxaca%20City,%20Mexico"

# Git aliases
alias nah="git reset --hard && git clean -df"

# LAMPP aliases
# alias lampp="sudo /opt/lampp/manager-linux-x64.run"
# alias wordpress="cd /opt/lampp/htdocs/wordpress/wp-content/"

# Docker aliases
# alias dcr="~/.dotfiles/scripts/run-docker.sh"
# alias drm="docker rm -f `docker ps -aq`"
# alias rmi='docker rmi $(docker images --filter "dangling=true" -q --no-trunc)'
